@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    /* box-sizing: border-box; */
    margin:0;
    padding: 0;
  }

  body{
    margin:0;
    padding: 0;
    width: 100%;
  }

  
  header{
    height: 125px;
    position: -webkit-sticky;
    position: sticky;
    top: -75.5px;
    z-index: 9999;
  }

  .logo_aaamat{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    height: 125px;
    width: 125px;
    padding: 5px;
    background-color: transparent;
  }

  .z{
    height: 75px;
    background-color:white;
    background-image: url(../img/estampa.png);
    background-repeat: repeat-x;
    background-position-x: center;
    background-size: auto 75px;
    margin: 0;
    padding: 0;
  }
  
  .a{
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #A51515;
    box-shadow: 0 2px 4px -0px #30000080;
  }
  
  .a > *{
    background-color: #A51515;
    font-weight: 600;
    height: 50px;
    width: 100%;
    margin: 0;
    text-align: center;
    overflow: hidden;
  }
  .a > *:hover{
    background-color: #7e0505;
    transition: 0.5s;
  }
  
  .a_responsivo{
    display: none;
    background-color: #A51515;
    height: 50px;
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 4px -0px #30000080;
  }

  #logo_aaamat_navbar{
    visibility: hidden;
  }

  
  #gestao_toggle:hover, #esportivo_toggle:hover{
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0s;
  }
  #como_participar_header, #quem_somos_header, #gestao_header, #esportivo_header, #campeonatos_header, #modalidades_header{
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #A51515;
  }
  
  
  #como_participar_header:hover, #quem_somos_header:hover, #campeonatos_header:hover, #modalidades_header:hover{
    background-color: #7e0505;
    transition: 0.5s;
  }
  
  #gestao_toggle > a:link, #esportivo_toggle > a:link, #gestao_toggle > a:active, #esportivo_toggle > a:active,#gestao_toggle > a:hover, #esportivo_toggle > a:hover{
    color: white;
    text-decoration: none;
  }

  .a > a:hover, .a > a:visited, .a > a:link, .a > a:active{
    color: white;
    text-decoration: none;
  }

  .b{
    background-color:#060606;
    margin: 0 2.5% 0 2.5%;
    box-shadow:0 0 20px 5px black; /* h-offset v-offset blur spread color */
    min-height: 100vh;
  }
  .c{
    margin: 0;
    padding: 5px 20px 5px 20px;
    background-color: #0D0D0D;
    font-weight: 700;
    text-align: center;
  }


  #general_infos{
    background-color: white;
    background-image: url(../img/estampa.png);
    background-repeat: repeat-x;
    background-position-x: center;
    background-size: auto 90px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  #general_infos > *{
    color:#060606;
    background-color: transparent;
  }

  #nome_localizacao::-webkit-scrollbar{
    height: 0;
    width: 0;
  }

  ::-webkit-scrollbar{
    width: 0;
  }

  .carousel-control-prev-icon-bg {
    background-color: red;
  }
  
  .atualizacoes > .col{
    margin: 10px;
  }
  
  .card {
    width: 250px!important;
    max-height: 500px!important;
    margin: 0 15px 15px 0px !important;
    border: 0 !important;
  }
  .card-body{
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    height: 150px;
  }
  .card-body::-webkit-scrollbar{
    width: 3px!important;
    background-color: #06060648!important;
    border-radius: 1px!important;
  }
  .card-body::-webkit-scrollbar-thumb{
    background-color: #55555557!important;
    margin: 0.5px!important;
  }


  img.card-img-top{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important
  }
  
  #a_atualizacoes.btn.btn-secondary{
    border-radius: 0 0 .25em .25em!important;
  }

  #cheersshop_link > a{
    text-decoration: none;
  }

   
  #cards_atualizacoes::-webkit-scrollbar{
    height: 10px;
    background-color: rgb(33,37,41)!important;
    border-radius: 10px!important;

  }
  #cards_atualizacoes::-webkit-scrollbar-thumb{
    background-color: #66666660!important;
    border-radius: 10px!important;
    border: 2px solid rgb(33,37,41)!important;
  }
  
  .nav-link{
    text-align: right;
    font-weight: 600;
    font-size: 17px;
  }

  .nav-item:hover{
    background-color: #7e0505;
  }
  
  .dropdown-divider{
    background-color: #750303;
  }
  
  .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    padding-right: 20px;
  }
  
  .navbar-nav.justify-content-end.flex-grow-1.pe-3 {
    padding-right: 0rem!important;
  }

  

  @media (max-width: 670px){
    #general_infos{
      flex-direction: column;
      background-position: bottom;
      background-size:  100% 100%;
    }
    #logo-imeusp{
      display: none;
    }
    
    #redes-sociais{
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-self: center;
      margin-bottom: 10px;
      
    }
    
    #localizacao_rodape{
      display: none;
    }
    
    .z{
      background-size: auto 50px;
      height: 50px;
    }
    .logo_aaamat{
      height: 100px;
      width: 100px;
    }
    header{
      top: -50.5px;
      height: 100px;
    }
    .a{
      display: none;
    }
    
    .a_responsivo{
      display:flex;
    }

    .b{
      box-shadow:0 0 10px 2.5px black; /* h-offset v-offset blur spread color */
    }
    
    #fluffy_icon_home_linked_pages{
      display: none;
    }
    #imagens_pag_historia{
      float: unset!important;   
      margin: 10px 0 25px 0!important;
      display: flex!important;
    
    }
    #fundo_atualizacoes{
      background-size: 170px auto!important;
    }
    #link_cheers_lojinha {
      font-size: .8rem!important;
    }
  }
  